button {
    font-size: 0.8rem;
    color: #0000000;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 20px 100px;
    border-radius: 25px;
    border: 2px solid #000000;
    background: rgb(255, 139, 148);
    box-shadow: 7px 7px #000000;
    cursor: pointer;
    margin: 15px 0;
  }
  
  button:hover {
    box-shadow: 3px 3px #000000;
    transform: translate(4px, 4px);
  }

  a {
    color : #000000;
    text-decoration: none;
  }